build/
lib/
.*.swp
*~
previous/
papers/
__pycache__/
.ipynb_checkpoints/
example.traj
# Latex
*.aux
*-eps-converted-to.pdf
*.fdb_latexmk
*.fls
*.nav
*.snm
*.toc
*.vrb
*.out
*.log
*.pdf
info/sc18-poster/repro-files/
info/sc18-poster/poster-old/
info/sc18-poster/consent.pdf
lammps-30Mar18/
lammps.tar.gz
log.lammps

info/sc18-poster/abstract/acmart-master.zip
info/sc18-poster/abstract/acmart-master/
info/sc18-poster/abstract/comment.cut
info/sc18-poster/abstract/ext_short
info/sc18-poster/abstract/flies.eps
info/sc18-poster/abstract/fly.eps
info/sc18-poster/abstract/rosette.eps

info/sc18-poster/tmp/
profiles/
regular_templates/
*.proto
output_*
lammps-*/
src/inspiration/
src/future/
